@import '@/style/variabel.scss';
@import '@/style/mixin.scss';

.select_title {
	margin-bottom: 0.5rem;
	color: white;
}

.select_container {
	@include displayFlex(center, space-between);
	border-radius: $border-radius-container;
	height: $height-input;
	position: relative;
	background-color: white;
	padding: 0.4rem 0.7rem;
	width: 13rem;
	cursor: pointer;

	img {
		border-radius: 2px;
		width: 2rem;
		height: 2rem;
		pointer-events: none;
	}

	p {
		pointer-events: none;
	}

	.select_custom_dropdown {
		border-radius: $border-radius-container;
		position: absolute;
		top: 110%;
		left: 0;
		z-index: 2;
		width: 14rem;
		overflow-y: scroll;
		background-color: white;

		.select_option {
			@include displayFlex(center, space-between);
			transition: all $transition-very-fast-ease;
			padding: 0.5rem 1rem;
			
			&:hover {
				color: white;
				background-color: $background-color-root-light;
				transition: all $transition-very-fast-ease;
			}

			img {
				margin-left: 1rem;
				width: 2rem;
				height: 2rem;
				border-radius: 2px;
			}
		}
	}

	.select_hidden {
		opacity: 0;
		visibility: hidden;
	}
}
