@import '@/style/variabel.scss';
@import '@/style/mixin.scss';

.checkbox_label_container {
	@include displayFlex(center);
	position: relative;

	.checkbox_label {
		@include displayFlex(center);
		transition: all $transition-fast-ease;
		border-radius: $border-radius-checkbox;
		height: $height-input;
		border: $border-root;
		background-color: $background-color-root-light;
		color: white;
		padding: 0.1rem 0.5rem;
		cursor: pointer;

		&:hover {
			background-color: $background-color-root;
			transition: all $transition-very-fast-ease;
		}
	}

	.checkbox_label_input:checked + .checkbox_label {
		background-color: $background-color-root-darker;
		transition: all $transition-very-fast-ease;
	}
}
