@import '@/style/variabel.scss';
@import '@/style/mixin.scss';

.member_container {
	border-radius: $border-radius-container;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(2px);

	.memeber_action_menu_container {
		@include displayFlex(normal, start, column);
		position: absolute;
		left: 10%;
		top: 5%;

		.member_action_button {
			border-radius: $border-radius-container;
			color: white;
			margin-bottom: 0.5rem;
			padding: 0.5rem 1rem;

			&:nth-child(1) {
				transition: all $transition-fast-ease;
				background-color: #0f410f;

				&:hover {
					transition: all $transition-fast-ease;
					background-color: #0c340c;
				}
			}

			&:nth-child(2) {
				transition: all $transition-fast-ease;
				background-color: #800000;

				&:hover {
					transition: all $transition-fast-ease;
					background-color: #5a0808;
				}
			}
		}
	}

	.member_body {
		@include displayFlex(center, start, column);
		overflow-y: auto;
		height: 100%;
		padding: 1rem;

		.member_role_container {
			@include displayFlex(center);

			.member_role_icon {
				border-radius: $border-radius-container;
				width: 1.1rem;
				height: 1.1rem;
			}
		}

		.member_close_button {
			transition: all $transition-fast-ease;
			border-radius: $border-radius-container;
			position: absolute;
			z-index: 2;
			right: 5%;
			top: 4%;
			color: white;
			font-size: 1.2rem;
			padding: 0rem 0.4rem;
		}

		.member_header {
			@include displayFlex(center);

			img {
				width: 3.2rem;
				height: 3.2rem;
				margin-right: 0.5rem;
			}

			.member_header_name {
				font-size: 1.5rem;
				color: white;
			}
		}

		.member_parameters_container {
			margin-bottom: 1rem;

			.member_social_medies {
				display: flex;
				color: white;
				gap: 1rem;
				font-size: 0.9rem;

				> div {
					@include displayFlex(center);
				}

				.member_status {
					border-radius: $border-radius-container;
					width: 0.85rem;
					height: 0.85rem;
					margin-left: 1rem;
				}

				.member_have_it {
					background-color: rgb(0, 120, 0);
				}

				.member_dont_have_it {
					background-color: rgb(120, 0, 0);
				}
			}

			.member_parameters_container_title {
				margin: 0.5rem 0rem;
				color: white;
			}

			.member_parameter_body {
				@include displayFlex(center);

				.member_parameter_name {
					color: $background-color-root-light;
					margin-right: 0.5rem;
					font-size: 1.1rem;
				}

				.member_parameter_stat {
					color: $color-eqip-params;
				}
			}
		}
	}
}
