@import './variabel.scss';

@mixin displayFlex(
	$align-items: normal,
	$justify-content: start,
	$flex-direction: row
) {
	display: flex;
	align-items: $align-items;
	justify-content: $justify-content;
	flex-direction: $flex-direction;
}

@mixin inputLabel() {
	width: 8rem;
	font-size: $font-size-medium;
	color: white;
	margin-right: 1rem;
}
