$height-input: 2.8rem;
$height-input-small: 2rem;

$border-radius-container: 10px;
$border-radius-checkbox: 5px;

$transition-fast-ease: 0.3s ease;
$transition-very-fast-ease: 0.15s ease;

$border-root: 1px solid silver;

$background-color-root-light: rgb(141, 141, 237);
$background-color-root: rgb(103, 103, 208);
$background-color-root-darker: rgb(72, 72, 174);