$window-big-size: 35rem;

$height-input: 2.8rem;
$height-input-small: 2rem;

$border-radius-container: 10px;
$border-radius-checkbox: 5px;

$transition-fast-ease: 0.3s ease;
$transition-very-fast-ease: 0.15s ease;

$font-color-window: rgb(255, 255, 255);