@import '@/style/variabel.scss';
@import '@/style/mixin.scss';

.equip_header_container {
	width: 25rem;
	@include displayFlex(center);

	img {
		border: 2px solid $color-eqip-params;
		width: 3rem;
		height: 3rem;
		margin-right: 1rem;
	}

	.equip_name {
		color: $color-eqip-params !important;
		font-size: 1.3rem;
	}
}

.equip_parameters_container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 1rem;
}

.equip_buff_container {
	@include displayFlex(center);
	gap: 0.5rem;

	.equip_buff_body {
		position: relative;
		cursor: pointer;

		.equip_buff_icon {
			border-radius: 3px;
			position: absolute;
			right: 18%;
			top: 16%;
			width: 2.3rem;
		}

		.equip_buff_icon_border {
			width: 3.5rem;
			height: 3.5rem;
		}
	}
}
