@import '@/style/variabel.scss';
@import '@/style/mixin.scss';

.add_player_form {
	display: flex;

	.add_player_inputs_container {
		@include displayFlex(normal, space-between, column);
		border-right: $border-root;
		padding: 1rem;
		margin: 0rem 1rem;
		gap: 0.5rem;

		&:last-child {
			border: none;
		}

		.add_personal_data {
			@include displayFlex(end);
			gap: 1rem;

			.add_title {
				color: white;
				margin-bottom: 0.5rem;
			}
		}

		.add_player_checkbox_container {
			@include displayFlex();
			gap: 1rem;
		}
	}

	.add_player_header {
		@include displayFlex(normal, center);

		p {
			font-size: 1.4rem;
			color: white;
			width: fit-content;
			padding-bottom: 0.2rem;
			border-bottom: 1px solid rgba(58, 58, 58, 0.3);
		}
	}

	.add_player_submit_container {
		@include displayFlex(normal, center);

		.add_player_submit_button {
			border-radius: $border-radius-container;
			background-color: $background-color-root;
			transition: all $transition-very-fast-ease;
			color: white;
			padding: 0.8rem 2rem;

			&:hover {
				background-color: $background-color-root-darker;
				transition: all $transition-very-fast-ease;
			}
		}

		.add_player_submit_button_succes {
			border-radius: $border-radius-container;
			transition: all $transition-very-fast-ease;
			color: white;
			padding: 0.8rem 2rem;
			background-color: rgb(27, 100, 12);
		}
	}
}
